blas_impl:
  # mkl-devel packages are available, and conda-forge could enable them if they'd like
  # - mkl                        # [x86 or x86_64]
  - openblas
# This differs from target_platform in that it determines what subdir the compiler
#    will target, not what subdir the compiler package will be itself.
#    For example, we need a win-64 vs2008_win-32 package, so that we compile win-32
#    code on win-64 miniconda.
cross_compiler_target_platform:  # [win]
  - win-32                     # [win]
  - win-64                     # [win]
c_compiler:                    # [win]
  - vs2008                     # [win]
  - vs2015                     # [win]
  - vs2015                     # [win]
cxx_compiler:                  # [win]
  - vs2008                     # [win]
  - vs2015                     # [win]
  - vs2015                     # [win]
macos_min_version:             # [osx]
  - 10.9                       # [osx]
macos_machine:                 # [osx]
  - x86_64-apple-darwin13.4.0  # [osx]
MACOSX_DEPLOYMENT_TARGET:      # [osx]
  - 10.9                       # [osx]
target_platform:
  - win-64                     # [win]
  - win-32                     # [win]
VERBOSE_AT:
  - V=1
VERBOSE_CM:
  - VERBOSE=1
zip_keys:
  -
    - pyqt
    - qt
  -
    - python
    - vc                        # [win]
    - c_compiler                # [win]
    - cxx_compiler              # [win]

# pin_run_as_build for packages from defaults
pin_run_as_build:
  numpy:
    max_pin: x
    min_pin: x.x

# Pinning packages
arpack:
  - 3.5
boost:
  - 1.66.0
boost_cpp:
  - 1.66.0
bzip2:
  - 1.0
cairo:
  - 1.14
curl:
  - 7.44
dbus:
  - 1
expat:
  - 2.2                # [not ppc64le]
ffmpeg:
  - 3.2.3
flann:
  - 1.9.1
fontconfig:
  - 2.12
freetype:
  - 2.8.1              # [not ppc64le]
gsl:
  - 2.2
gstreamer:
  - 1.12
gst_plugins_base:
  - 1.12
gdal:
  - 2.2.*
geos:
  - 3.6.2
giflib:
  - 5.1
glib:
  - 2.55
glpk:
  - 4.61
gmp:
  - 6
harfbuzz:
  - 1.7
hdf4:
  - 4.2
hdf5:
  - 1.10.1             # [not ppc64le]
icu:
  - 58                 # [not ppc64le]
jpeg:
  - 9
json_c:
  - 0.12
krb5:
  - 1.14
libblitz:
  - 0.10
libdap4:
  - 3.19
libevent:
  - 2.0.22
libffi:
  - 3.2
libgdal:
  - 2.2
libiconv:
  - 1.15
libkml:
  - 1.3
libmatio:
  - 1.5
libnetcdf:
  - 4.4
libpcap:
  - 1.8
libpng:
  - 1.6.32
libprotobuf:
  - 3.5
librdkafka:
  - 0.9.4
libssh2:
  - 1.8
libsvm:
  - 3.21
libtiff:
  - 4.0.8
libwebp:
  - 0.5
libxml2:
  - 2.9
lz4_c:
  - 1.8.1
lzo:
  - 2
metis:
  - 5.1
mkl:
  - 2018
mpfr:
  - 3
ncurses:
  - 5.9
netcdf_cxx4:
  - 4.3
netcdf_fortran:
  - 4.4
nettle:
  - 3.3
# we build for an old version of numpy for forward compatibility
#    1.11 seems to be the oldest on win that works with scipy 0.19.  Compiler errors otherwise.
numpy:
  - 1.9   # [unix]
  - 1.11   # [win]
openblas:
  - 0.2.20
openjpeg:
  - 2.3
openssl:
  - 1.0.2
pango:
  - 1.40
perl:
  - 5.26
pixman:
  - 0.34
poppler:
  - 0.61
proj4:
  - 4.9.3
python:
  - 2.7
  - 3.5
  - 3.6
pyqt:
  - 5.6
qt:
  - 5.6
readline:
  - 7.0
r_base:
  - 3.3.2
  - 3.4.1
scipy:
  - 0.19
snappy:
  - 1.1.6
sox:
  - 14.4.2
sqlite:
  - 3.20
sundials:
  - 2.7
tk:
  - 8.6                # [not ppc64le]
vc:
  - 9
  - 14
  - 14
vlfeat:
  - 0.9.20
xerces_c:
  - 3.2.0
xz:
  - 5.2
zeromq:
  - 4.2.1  # should be 4.2.*, but ABI is incorrectly tagged
zlib:
  - 1.2.11
zstd:
  - 1.3.3
