repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    - id: file-contents-sorter
      files: recipe/migration_support/*.txt
    - id: check-toml
      files: recipe\/.*\.toml
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.37.1
  hooks:
    - id: yamllint
      files: recipe\/migrations\/.*\.yaml
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.10
  hooks:
    - id: ruff-check
      args: [ --fix ]
      files: recipe/test_migrations.py
    - id: ruff-format
      files: recipe/test_migrations.py

ci:
    autofix_commit_msg: |
        [pre-commit.ci] auto fixes from pre-commit.com hooks

        for more information, see https://pre-commit.ci
    autofix_prs: false
    autoupdate_commit_msg: '[ci skip] [pre-commit.ci] pre-commit autoupdate'
    autoupdate_schedule: monthly
    skip: []
    submodules: false
