extends: default

rules:
  document-start: disable
  line-length:
    max: 260
  indentation:
    spaces: consistent
    indent-sequences: whatever
    check-multi-line-strings: false
  trailing-spaces: disable
